@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #E3D5CA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

@layer base {
  /* html {
    @apply m-0 h-full;
  } */

  /* html::before {
    content: "";
    @apply
    fixed
    top-0
    left-0
    w-full
    h-full
    bg-[url('/photography/faded_flower_extended_sky.png')]
    bg-cover
    bg-no-repeat
    -z-10
    pointer-events-none
    transition-opacity
    duration-1000
    background-image: url('/photography/faded_flower_extended_sky.png');
    filter: blur(8px);
  } */

  nav {
    @apply
    w-full 
    h-12 
    justify-between 
    bg-nav_background
    text-white
    border-white
    fixed border 
    dark:bg-test_background
    /* dark:bg-dark_nav_background */
    dark:text-dark_nav_text
    dark:border-dark_nav_border
    /* mix-blend-overlay */
    /* dark:mix-blend-lighten */
    z-50 
    font-jost
    shadow-md
    text-shadow-2xs
  }
  section {
    @apply
    grid
    items-center
    align-middle
    min-h-screen
    justify-center
    text-3xl
  }
}

@layer utilities {
  .text-shadow-2xs {
    text-shadow: 0px 0.5px 0.5px rgb(0 0 0 / 0.15);
  }
  .text-shadow-xs {
    text-shadow: 0px 1px 1px rgb(0 0 0 / 0.2);
  }
  .text-shadow-sm {
    text-shadow: 0px 1px 0px rgb(0 0 0 / 0.075), 0px 1px 1px rgb(0 0 0 / 0.075), 0px 2px 2px rgb(0 0 0 / 0.075);
  }
  .text-shadow-md {
    text-shadow: 0px 1px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.1), 0px 2px 4px rgb(0 0 0 / 0.1);
  }
  .text-shadow-lg {
    text-shadow: 0px 1px 2px rgb(0 0 0 / 0.1), 0px 3px 2px rgb(0 0 0 / 0.1), 0px 4px 8px rgb(0 0 0 / 0.1);
  }
  .text-shadow-none {
    text-shadow: none;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
